<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhh.knowledge">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.custom_control.CustomControlActivity" />
        <activity android:name=".activity.FloatingActionButtonActivity" />
        <activity android:name=".activity.MySQLActivity" />
        <activity android:name=".activity.custom_control.CVViewPagerActivity" />
        <activity android:name=".activity.custom_control.XLKActivity" />
        <activity android:name=".activity.custom_control.KGActivity" />
        <activity android:name=".activity.custom_control.TKActivity" />
        <activity android:name=".activity.gson.GsonActivity" />
        <activity android:name=".activity.http_url_connection.HttpURLConnectionActivity" />
    </application>

</manifest>